@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" >
    <label>
        Patient Name
        <input type="text" name="pname" />
    </label>
    <label>
        Patient Email
        <input type="email" name="pemail" />
    </label>
    <label>
        Disease
        <input type="text" name="disease" />
    </label>
    <button type="submit">Book Appintment

    </button>
</form>
